h1{
    font-family: cursive;
    color: aliceblue;
    background-color: black;
}
span{
    color: aqua;
}
.text-center{
    text-align: center;
}
h2{
    font-style: italic;
    font-family: cursive;
    color: aliceblue;
    background-color: rgb(80, 11, 145);
}
.text-right{
    text-align: right;
}
h3{
    text-decoration: underline;
    color: rgb(22, 2, 41);
    background-color: rgb(119, 161, 240);
}