h1{
    color: rgb(185, 14, 148);
    text-align: center;
}
body{
    background-color: beige;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.padmar{
    padding: 20px;
    margin: 30px;
}

.purple-fondo{
    background-color: blueviolet;
 
}
.blue-fondo{
    background-color: blue;

}
.brown-fondo{
    background-color: brown;

}
.margin{
    margin: 15px;
}
img.octocat {
    height: 200px;
    background-color: aliceblue;
}